<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-android2js" version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Android2Js</name>
    <description>Description</description>
    <js-module name="android2js" src="www/android2js.js">
        <clobbers target="Android2Js"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
        </config-file>
    </platform>
</plugin>